

:root {
    --primary: #B88E2F;
    --font-color: #333;
    --font-color-1: #666;
    --color-white: #FFF;
    --color-red-accents: #E97171;
    --color-gray-1: #3A3A3A;
    --color-gray-3: #898989;
    --color-gray-4: #B0B0B0;
    --color-gray-5: #D8D8D8;
    --color-light-bg: #F4F5F7;
    --primary: #B88E2F;
    --color-white: #FFF;
}


* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
  }

.blackColor {
    color: #000;
}

.container {
    max-width: 1286px !important;
    padding: 0 !important;
}

.header-container {
    padding: 30px 0;

    .logo {
    
        .title {
            color: #000;
            font-family: Montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        img {
            padding-right: 5px;
        }
    }

    .nav {
        gap: 75px;
        a {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 0;
            text-decoration: none;
        }
    }
    .nav-icon {

        a {
            padding: 0;
        }
        img {
            width: 28px;
            height: 28px;
        }
        gap: 45px;
        flex-shrink: 0;
    
    }
}

* {
    padding: 0;
}

.banner-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    aspect-ratio: 2/1;
    background-repeat: no-repeat;
}
.banner-container-bg {
    background-size: cover;
    width: 44.7%;
    font-family: Poppins;
    background-color: #FFF3E3;
    border-radius: 10px;
    position: absolute;
    aspect-ratio: 3/2.07;
    padding: 62px 0 37px 41px;
    right: 4%;
    bottom: 16.2%;


    .banner-container-text {
        width: 70%;
        .banner-container-text-top {
            color: var(--font-color, #333);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 3px;
            margin-bottom: 4px;
        }
        h1 {
            color: var(--primary, #B88E2F);
            font-size: 52px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px;
            margin-bottom: 17px;
            width: 100%;
        }
        .banner-container-text-bottom {
            color: var(--font-color, #333);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 46px;
            width: 72%;
        }
    }
    .button-buy {
        width: 40%;
        button {
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            font-family: Poppins;
            padding: 10% 31%;
            background-color: var(--primary, #B88E2F);
            border: none;
        }
    }
}

.category-container {
    margin-top: 56px;
    .title-category {
        text-align: center;
        h1 {
            color: var(--font-color, #333);
            font-family: Poppins;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
        }
        p {
            color: var(--font-color-1, #666);
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
        }
    }

    .category-container-list {
        display: flex;
        padding: 62px 51px 0 51px;
        justify-content: space-between;
        gap: 20px;
    }
    .list {
        width: 33.3%;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        p {
            width: 100%;
            padding-top: 30px;
            text-align: center;
            color: var(--font-color, #333);
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            aspect-ratio: 9/1;

        }
    }
}

// product

.product-container {
    margin-top: 3.5rem;
}

.product-title {
    color: var(--color-gray-1);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 2rem;
}

.product-container-wrapper {
    padding: 0 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // margin-top: 200px;
    gap: 2rem;

    .product-item {
        position: relative;
        
        .product-item-1 {
            position: relative;
            width: 100%;
            z-index: 10;
        }
        .product-item-image {
            background-repeat: no-repeat;
            aspect-ratio: 2/2.115;
            position: relative;


            span {
                position: absolute;
                top: 1.5rem;
                right: 1.5rem;
                color: var(--color-white, #FFF);
                font-style: normal;
                font-weight: 500;
                line-height: 150%; 
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: var(--color-red-accents);
            }
        }
        .product-cart {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            background-color: var(--color-gray-1);
            opacity: 0.7200000286102295;
            z-index: 0;

            .product-cart-container {
                width: 100%;
                position: absolute;
                top: 39%;

                .product-cart-text {
                    color: var(--primary);
                    font-weight: 600;
                    line-height: 150%; 
                    padding: 0.75rem 0;
                    text-align: center;
                    background-color: var(--color-white) !important;
                    margin: 0 2.59375rem;
                    cursor: pointer;
                    opacity: 1;
                }

                .product-cart-interact {
                    margin-top: 2.25rem;
                    width: 100%;
                    justify-content: center;
                    gap: 1.25rem;

                    span, img {
                        cursor: pointer;
                    }
                    span {
                        color: var(--color-white);
                        font-weight: 600;
                        line-height: 150%; 
                        padding-left: 2px;
                    }
                }
               
            }
            
            // height: 100%;
            
        }

        
    }

    .product-item:hover {
        .product-item-1 {
            position: relative;
            z-index: 0;
            transition: 0.2s;
        }
    }
    
    
    .product-item-detail {
        padding: 16px 0 30px 16px;
        background-color: var(--color-light-bg);

        .product-item-detail-name {
            p {
                margin: 0;
                margin-bottom: 0.5rem;
            }
            p:first-child {
                color: var(--color-gray-1);
                font-weight: 600;
                line-height: 120%; 
                font-size: 1.5rem;
            }
            p:last-child {
                color: var(--color-gray-3);
                font-weight: 500;
                line-height: 150%; /* 24px */
            }
        }
        .product-item-price {
            span:first-child {
                color: var(--color-gray-1);
                font-size: 20px;
                font-weight: 600;
                line-height: 150%; /* 30px */
                padding-right: 1rem;
            }   
            span:last-child {
                color: var(--color-gray-4, #B0B0B0);
                font-weight: 400;
                line-height: 150%; /* 24px */
                text-decoration: line-through;
            }
        }
           
    }
}

.product-button {
    margin-top: 2rem;
    text-align: center;

    button {
        color: var(--primary);
        font-weight: 600;
        line-height: 150%;
        width: 19%;
        padding: 11px 0;
        border: 1px solid var(--primary);
        background: #FFF;;
    }
}

#pattern {
    margin: 4.25rem 0;
}

.pattern-container {
    display: flex;
    align-items: center;
    padding: 2.75rem 0 2.75rem 6.25rem;
    background: #FCF8F3;
    width: 100%;
    aspect-ratio: 3/1.25;
    .pattern-title {
        width: 32%;
        .pattern-title-content {
            h2 {
                color: var(--color-gray-1);
                font-size: 40px;
                font-weight: 700;
                line-height: 120%;
                margin: 0;
            }
            p {
                color: var(--color-gray-2);
                font-weight: 500;
                line-height: 150%;
                margin-bottom: 1.5625rem;
            }
        }
        button {
            color: var(--color-white, #FFF);
            font-weight: 600;
            line-height: 150%;
            padding: 0.75rem 2.5rem;
            background-color: var(--primary);
            border: none;
            cursor: pointer;
        }
    }

    .pattern-list {
        width: 68%;
        display: flex;
        .pattern-item {
            width: 44.4%;
            aspect-ratio: 2/2.87;
            background-repeat: no-repeat;
            position: relative;

            .pattern-list-box {
                display: flex;
                position: absolute;
                bottom: 8%;
                left: 6%;
                width: 65.8%;
                
                .pattern-list-box-top {
                    width: 82%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.72);
                    backdrop-filter: blur(1.5px);
                    padding: 32px 17px 32px 32px;
                    .pattern-list-box-top-text {
                        display: flex;
                        gap: 0.5rem;
                        align-items: center;
                    }
                    span {
                        color: var(--color-gray-2);
                        font-weight: 500;
                        line-height: 150%;
                    }
                    p {
                        margin-top: 0.5rem;
                        margin-bottom: 0;
                        color: var(--color-gray-1);
                        font-size: 28px;
                        font-weight: 600;
                        line-height: 120%
                    }
                }
                .pattern-list-box-arrow {
                    display: flex;
                    flex-direction: column-reverse;
                    svg {
                        background-color: var(--primary);
                        box-sizing: content-box;
                        padding: 0.75rem;
                        cursor: pointer;
                    }
                }
            }

        }
    }

    .slide-container {
        width: 53%;
        position: relative;
        margin-left: 1.5rem;
        .slide {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            overflow: hidden;
            gap: 1.5rem;

            .pattern-item-product {
                width: 77%;
                aspect-ratio: 2/2.62;
                
            }
            img:nth-child(2) {
                // object-fit: contain;
            }
        }

        .dot-container {
            display: flex;
            margin-top: 40px;
            .dot {
                width: 11px;
                height: 11px;
                display: inline-block;
                border-radius: 50%;
                background-color: var(--color-gray-5);
                margin-right: 20px;

            }
        }

        .next-arrow {
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 19.2%;
            transform: translateY(-50%);
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
            background-color: var(--color-white);
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                color: var(--primary);
            }
        }
    }

    
}

.share {
    .share-title {
        margin-bottom: -24px;
        p {
            margin: 0;
        }
        p:nth-child(1) {
            text-align: center;
            color: var(--color-gray-2);
            font-size: 20px;
            font-weight: 600;
            line-height: 150%;
        }
        p:nth-child(2) {
            color: var(--color-gray-1, #3A3A3A);
            font-size: 40px;
            font-weight: 700;
            line-height: 120%;
            text-align: center;
        }
    }

    .share-wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 39% 20.4% 40.6%;
        // gap: 16px;

        .share-list {
            
        }
        .share-list-image {
            background-size: cover;

        }
        .share-list:nth-child(1) {
            gap: 16px;
            .share-list-image:nth-child(1) {
                width: 14%;
                aspect-ratio: 1/4.85;
                background-size: cover;
            }
            .share-list-image:nth-child(2) {
                width: 80.4%;
                // aspect-ratio: 3/1.5;
            }
            .share-list-image:nth-child(3) {
                width: 33%;
                aspect-ratio: 2/3.6;

            }
            .share-list-image:nth-child(4) {
                width: 61.4%;
            }
        }
        .share-list:nth-child(2) {
            .share-list-image {
                width: 100%;
                aspect-ratio: 1/1.335;
                margin-top: 40%;
            }
        }

        .share-list:nth-child(3) {
            overflow: hidden;
            gap: 16px;
            margin-left: 16px;
            height: fit-content;
            .share-list-image:nth-child(1) {
                width: 51%;
                aspect-ratio: 1/1;
                margin-top: 15%;
            }
            .share-list-image:nth-child(2) {
                width: 46%;
                aspect-ratio: 1/1.65;
            }
            .share-list-image:nth-child(3) {
                width: 33%;
                aspect-ratio: 2/2.58;
            }
            .share-list-image:nth-child(4) {
                width: 50%;
                height: 196px;

            }

        }
    }
}

.footer {
    background-color: #FFF;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    margin-top: 50px;

    .footer-top {
        gap: 14.25%;
        padding: 3rem 0;
        .footer-top-title {
            width: 22.5%;
            p:nth-child(2) {
                color: #9F9F9F;
            }
        }

        .footer-top-navigation {
            display: flex;
            width: 77.5%;

            .footer-top-navigation-col {
                span {
                    color: #9F9F9F;
                    margin-bottom: 55px;
                    display: inline-block;
                }
                .footer-top-navigation-col-list {
                    li:not(:first-child) {
                        margin-top: 46px;
                    }
                }
                li {
                    list-style: none;
                    a {
                        color: #000;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }

            .footer-top-navigation-email {
                font-size: 14px;
                color: #9F9F9F;
                line-height: normal;
                input {
                    border: transparent;
                    border-bottom: 1px solid #000;
                }
                button {
                    font-size: 14px;
                    color: #000;
                    border: transparent;
                    border-bottom: 1px solid #000;
                    display: inline-block;
                    margin-left: 8px;
                    background-color: transparent;
                }
            }
            
        }
    }

    .footer-bottom {
        border-top: 1px solid #D9D9D9;
        padding: 2.375rem 0;
        p {
            color: #000;
        }
    }
}


//shop

.shop {
    .shop-background {
        background-repeat: repeat;
        width: 100%;
        aspect-ratio: 4/0.88;

        .shop-background-container {
            .shop-background-title {
                font-size: 3rem;
                color: #000;
                font-weight: 500;
            }
            .shop-background-nav {
                span {
                    color: #000;
                    font-weight: 500;
                }
            }
        }
    }
    .shop-tool {
        padding: 22px 0;
        background: #F9F1E7;
        .shop-toolbar {
            span {
                font-size: 20px;
                color: #000;
            }
    
            .shop-toolbar-left {
                display: flex;
                gap: 1.5rem;
    
                .line {
                    width: 2px;
                    aspect-ratio: 1/18;
                    background: #9F9F9F;
                }
            }

            .shop-toolbar-right {
                display: flex;
                gap: 1.75rem;
                .shop-toolbar-right-box {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    .box1, .box2 {
                        background-color: var(--color-white);
                        display: inline-block;
                    }
                    .box1 {
                        width: 55px;
                        height: 55px;
                    }
                    .box2 {
                        width: 188px;
                        aspect-ratio: 3/0.88;
                        span {
                            padding-left: 24px;
                        }
                    }
                }
            }
    }   
    
    }
}



